body {
    color: #40514E;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #66BFBF;
    font-size: 5.6rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
  font-size:1.5rem;
  padding-top: 10px;
  color: 66BFBF;
  padding-bottom:10px ;
  font-weight: normal;
}
hr{
  width: 5%;
  border-style: dotted none none none;
  border-color: gray;
  border-width: 10px;
  margin: 50px auto 60px;
}
h3 {
    color: turquoise;
}
p{line-hieght}

.top-container{
    position: relative;
    padding-top: 100px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 250px;
}
.queeneth {
  width: 25px;
  border-radius:100 ;
}
.middle-container{
  margin: 10px auto;
}
.skill-row{
  margin: 10px auto;
  text-align: left;
  width: 50%;
}
.michael{
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right:30px ;
}
.chinedu{
  width: 25%;
  border: 100%;
  float: right;
  margin-left: 30px;
}
.introduction{
  width: 30%;
  margin: auto;
}
.contact-me{
  margin: 100px 0;
}
.contact-message{
width: 40% ;
margin: 40px auto 40px;
}
.btn{
  background: #11cdd4;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 4px;
}
.btn:hover{
  background: #085a4f;
}
.bottom-container{
 background-color: #66bfbf;
 padding: 50px 0 20px;
}
a{
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}